@import './theme.less';
@import './main.less';
@import './global.less';

#demoApp{
  display: flex;
    flex-direction: column;
    min-height: 100vh;
    // background-color: var(--vt-c-bg);
    transition: background-color .5s;
    // padding-top: var(--vt-banner-height);
}

a {
  &:extend(.underline-hover);
  &:before {
    &:extend(.underline-hover:before);

  }
  &:hover{
    &:extend(.underline-hover:hover);
  }
  &:hover:before{
    &:extend(.underline-hover:hover:before);
  }
}
